/*** Index ***/

.kategorier {
  display: grid;
  grid-template-columns: 1fr;
}

/**** productlist ***/
.page {
  display: grid;
  grid-template-columns: 1fr;
  margin: 100px;
}

/*** product ***/
.product_info_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@media (min-width: 768px) {
  .kategorier {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
